.App {
  margin-top: 2rem;
  text-align: center;

  display: flex;
  gap: 3rem;
  flex-direction: column;
  align-items: center;
}
.smallButton {
  width: calc((100% - 1rem) / 2);
  /* weird width value for equal vertical and horizontal spacing */
}

.fullWidthButton {
  width: 100%;
  margin-top: 1rem !important;
}

.delayInput {
  width: 100%;
  margin-top: 1rem !important;
}

.table-body {
  max-height: 400px;
}
