.App {
  margin-top: 2rem;
  text-align: center;

  display: flex;
  gap: 3rem;
  flex-direction: column;
  align-items: center;
}
.small-button {
  width: calc((100% - 1rem) / 2);
  /* weird width value for equal vertical and horizontal spacing */
}

.full-width-button {
  width: 100%;
  margin-top: 1rem !important;
}

.delay-input {
  width: 100%;
  margin-top: 1rem !important;
}

.table-container {
  max-height: 500px;
}

.capitalize-text {
  text-transform: capitalize;
}
